.button {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: var(--fg-primary);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default:hover {
  background-color: var(--accent-primary);
}

.default:active {
  background-color: var(--accent-secondary);
}
