.gizmo {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  width: 6rem;
  height: 6rem;
  background-color: var(--bg-secondary);
  border: 2px solid var(--border-color);
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 768px) {
  .gizmo {
    left: 50%;
    transform: translateX(-50%);
  }
}
