.container {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  position: relative;
  border: none;
  font-size: 0.7rem;
  background-color: transparent;
  max-height: 1.5rem;
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--accent-primary);
  border-radius: 0.5rem;
  transition: transform 0.2s;
  max-height: 1.5rem;
}

.switch.checked {
  transform: translateX(100%);
}
