.container {
  position: relative;
  height: 100%;
  z-index: 1;
  background-color: var(--bg-tertiary);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.filtered {
  filter: drop-shadow(0 0 0.05rem #211f28);
}

.multiSelect {
  opacity: 0.5;
  pointer-events: none;
}
